*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}

body{
    background-color: rgb(107, 107, 224);
}
h1{
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 44px;
}


.box{
    width: 900px;
    height: 480px;
    background-color: rgb(224, 28, 224);
    margin: 200px auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
textarea{
    width: 80%;
    height: 200px;
    display: block;
    margin: 30px auto;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}
.d1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding:0  30px;
}
select{
    width: 40%;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;

}
.d2{
  
    text-align: center;
}
button{
    width: 120px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(107, 107, 224);
    color: white;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin: 20px;
    margin-left: 400px;
}